*{
    margin: 0;
    padding: 0;
    color: white;
}
a{
    text-decoration: underline;
}
a:hover{
    color: blue;
}
#backgroundscreen{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 28%, rgba(50,48,202,1) 100%);
    font-family: "Inter", serif;
    /* overflow-x: hidden; */
}
header {
    background-color: rgb(0, 0, 0,0.5);
    width: 100%;
}
.desktop_res{
    display: flex;
    justify-content:space-between;
}
header #logo{
    padding: 10px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #logo img{
    width: 200px;
}
header #logo h1{
    font-weight: 400;
    font-size: 250%;
}
header #headerlinks{
    margin: 50px;
}
header #headerlinks a{
    padding: 15px;
    margin: 10px;
}
header #headerlinks img{
    width: 40px;
}
header #menu_div, header #menu_div img {
    visibility: hidden;
    position: absolute;
}
header .navbar{
    background-color: rgb(50, 48, 202,0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
header .navbar ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
header .navbar ul a {
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 120%;
    border:1px solid transparent;
    display: block;
}
header .navbar ul a:hover{
    border:1px solid #0300FF;
}
header .navbar ul li{
    position: relative;
}
.mobile_res{
    visibility: hidden;
    position: absolute;
}
.navbar ul li:hover > a {
    
}
.dropdown {
    display: none;
    visibility: hidden;
    position: absolute;
    background-color: #3230CA;
    z-index: 1000;
    min-width: 150px;
    top: 100%;
    left: 0;
}
.dropdown li {
    display: block;
    border-top: 1px solid white;
}
.dropdown li:last-child{
    border-bottom: 1px solid white;
}
.dropdown li a {
    padding: 10px;
    display: block;
    color: white;
}
.dropdown li a:hover {
    
}
.navbar ul li:hover .dropdown {
    visibility: visible;
    display: block;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}



@media screen and (max-width: 1000px){
    header{   
        width: 100%;
    }
    .desktop_res{
        justify-content:space-around
    }
    header #logo{
        display:grid;
        justify-content: center;
        text-align: center;
    }
    header #logo img{
        width: 80px;
        margin: auto;
    }
    header #logo h1{
        font-size: 120%;
    }
    header #headerlinks img{
        width: 20px;
    }
    header #menu_div, header #menu_div img {
        visibility: visible;
        position:relative;
    }
    header #menu_div{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    header #headerlinks{
        visibility: hidden;
        position:absolute;
    }
    header .navbar{
        width: 100%;
      
        position: absolute;
        background-color: rgb(50, 48, 202,0.5);
    }
    header .navbar ul{
        background-color: rgb(50, 48, 202,0.5);
        position:static;
        width: 100%;
        flex-direction: column;
        display: flex;
        list-style: none;
        justify-content: center;
    }
    header .navbar ul a {
        color: white;
        text-decoration: none;
        padding: 20px 40px;
        font-size: 120%;
        border:1px solid transparent;
    }
    header .navbar ul a:hover{
        border:1px solid #0300FF;
    }
    header .navbar{
        visibility: hidden;
    }
    header .navbar.active{
       
        flex-direction: column; 
        visibility: visible;
    }
    header .mobile_res{
        visibility: hidden;
        position: relative;
        display: flex;
        justify-content:space-evenly;
    }
    header .mobile_res.active{
        visibility: visible; 
    }
    header .mobile_res a{
        margin: 0px 10px;
    }
    header .mobile_res img{
        width: 35px;
        margin: 10px;  
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
    }
    .navbar ul.active {
        display: flex;
    }
    .navbar ul li {
        width: 100%;
        text-align: center;
        position: relative;
    }
    .menu-toggle {
        display: block;
    }
    .dropdown {
        display: none;
        z-index: 100;
        position: relative;
        background-color: #444;
        width: 100%;
        position: relative;
        visibility:hidden;
    }
    .navbar ul li.active .dropdown {
        display: block;
        position: absolute;
        visibility: visible;
        
    }
}
@media screen and (min-width: 480px) and (max-width: 1023px){

}


.slider {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
    background: #000;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Płynniejsza animacja */
    width: 500%; /* Umożliwia przesuwanie slajdów */
    height: 100%;
}

.slide {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Zapewnia, że zawartość poza slajdem będzie ukryta */
}

/* Background gradient overlay */
.slide .background_blur {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.54) 40%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Image styling for full-width and height */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

/* Description styling */
.slide .desc {
    position: absolute;
    left: 5%;
    bottom: 10%;
    z-index: 2;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
}

.slide .desc h2 {
    font-size: 400%;
    margin: 0;
}

.slide .desc p {
    font-size: 200%;
    font-weight: 400;
    margin: 0;
}

.slide .desc .belt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 70%;
    margin-top: 10px;
}

.slide .desc .belt a {
    text-decoration: underline;
    font-size: 150%;
}


@media (max-width: 768px) {
    .slide .desc {
        width: 80%;
        padding: 15px 20px;
    }

    .slide .desc h2 {
        font-size: 2rem;
    }

    .slide .desc p {
        font-size: 0.9rem;
    }
}


main{
    width: 80%;
    margin: auto;
    min-height: 400px;
    /* height: 1000px; */
}
@media screen and (max-width: 1000px){
    main{
        width: 100%;
        margin: auto;
        /* height: 1000px; */
    }
}

.matches_board{
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.matches_tab{
    /* background-color: green; */
    display: flex;
    margin: 20px;
    font-size: 120%;
    justify-content: space-between;
    align-items: center;
}
.matches_list{
    display: flex;
    /* gap: 40px; */
    
    flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 10px;
    /* background-color: gold; */
}
.match_card{
    background-color: rgba(50, 48, 202, 0.5); /* Poprawiony zapis z rgba */
    display: grid;
    min-width: 30%;
    /* width: 600px; */
    border-radius: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    border: none; 
    /* padding: 10px;  */

    position: relative; /* Ustawienie pozycji dla pseudo-elementu */

}
.match_card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px; 
    padding: 2px; 
    background: linear-gradient(to bottom, #000000, #666666);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1; /* Umieszczenie za obiektem */
}
.match_card_up{
    /* background-color: #ff5733; */
    display: flex;
    padding: 50px 0px;
    justify-content: space-around;
    align-items: center;
}
.match_card_club img{
    width: 70px;
    margin: auto;
}
.match_card_club{
    gap: 5px;
    display: grid;
    flex-direction: column;
    justify-content:space-around;
}

.match_card_data{
    background-color: #000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 15px 20px;
    width: 40%;
    font-size: 110%;
    text-align: center;
}
.match_card_down{
    display: flex;
    justify-content: center;
    
}
.match_score{
    background-color: black;
    font-size: 250%;
    border:2px solid black;
    padding: 10px 20px;
    border-radius: 30px ;
    text-align: center;

}
.match_score p{
    letter-spacing: 5px;
}

.walkower_card{
    font-size: 80%;
    text-align: center;
    color: red;
}
.walkower{
    margin: auto;
    border-color: red;
}

@media screen and (max-width: 1000px) {
    .matches_board{
        margin-bottom: 50px;
    }
    .matches_list {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 10px;
    }
    .match_card {
        min-width: 95%; 
        
    }
    .match_card:nth-child(1){
        margin-left: 0px;
    }
    .match_card_up {
        /* flex-direction: column; */
        padding: 20px 30px;
        /* padding: 15px; */
    }
    .match_score {
        font-size: 150%;
        padding: 8px 16px;
    }
    .match_card_data {
        width: 70%;
        font-size: 100%;
    }
}

.onas{
    background-color: rgb(0, 0, 0,0.5);
    padding: 70px;
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 60px;
}
.onas_desc{
    font-size: 140%;
    width: 50%;
    
}
.onas_title{
    font-weight: 400;
}
.onas_subtitle{
    font-weight: 400;
    margin-top: 10px;
    font-size: 110%;
    margin-bottom: 10px;

}
.onas_text{
    font-size: 80%;
    font-weight: 300;
    margin-bottom: 20px;
}
.onas_link{
    padding:20px 0px;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    .onas{
        padding: 30px;
        display: grid;
        height: auto;
    }
    .onas_desc{
        font-size: 120%;
        width: 100%;
    }
    .onas_text{
        font-size: 70%;
    }
    .onas_img{
        margin:40px auto;
    }
}


.partnerzy_title{
    text-align: center;
    font-size: 250%;
    font-weight: 400;
}
.partnerzy_list{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.partnerzy_list img{
    width: 350px;
    padding: 40px;
}
@media screen and (max-width: 460px) {
    .partnerzy_list img{
        width: 50%;
        padding: 15px;
        margin:30px auto ;
    }
}



footer{
    background-color: #000;
    display: grid;
}
.footer_up{

    display: flex;
    justify-content:space-evenly;
    align-items:flex-start;
    padding: 50px;
    gap:100px;
}
.f_media{
/* background-color: red; */
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.f_media p{
    font-weight: 400;
    font-size: 110%;

}
.f_media img{
    margin: auto;
    width: 140px;
}
.f_media_links img{
    width: 40px;
    margin: 5px 10px;
}
.f_links{

    display: flex;
    gap: 50px;
}
.f_links p{
    font-size: 140%;
}
.f_links_l{
    list-style: none;
   
}
.f_links_l li{
    margin: 10px 0px;
}

.f_links_l a{
    font-size: 100%;
   
}
.footer_down{
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
}
.f_d_links{
    gap: 20px;
    display: flex;
}

@media screen and (max-width:1000px) {
    .footer_up{
        display: grid;
      
        padding: 30px;
    
    }
    .f_media_links img{
        width: 35px;
        margin: 3px 5px;
    }
    
}

.news_list{
    margin: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news_card{
    width: 45%;
    margin: 20px 10px;

}
.news_card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* width: 100px; */

}
.news_desc{
    padding: 20px;
    gap: 10px;
}
.news_card:hover h3,.news_card:hover p{
    color: #0300FF;
}
.news_title{
    font-size: 200%;
    font-weight: 700;

}
.news_text{
    font-size: 140%;
    font-weight: 400;
    margin: 0;
}
.news_date{
    font-size: 100%;

}

@media screen and (max-width:1000px) {
    
    .news_card{
        width: 100%;
        margin:10px 0px;
    
    }
}